/* Estilo general
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-size: cover;
  background-position: top center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.jumbotron{
  background-color: #fff;
}
.pager a{
  margin: 10px;
}

/* Imágenes para secciónes */
.bg-1{
  background-image: url(../img/bg/bg1.jpg);
}
.bg-2{
  background-image: url(../img/bg/bg2.jpg);
}
.bg-3{
  background-image: url(../img/bg/bg3.jpg);
}
.bg-4{
  background-image: url(../img/bg/bg4.jpg);
}
.bg-5{
  background-image: url(../img/bg/bg5.jpg);
}
.bg-6{
  background-image: url(../img/bg/bg6.jpg);
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
